.form__button {
    padding: 5px;
    margin: 20px 0px 20px 0px;
    font-family: 'Raleway', sans-serif;
    max-width: 700px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: darkgoldenrod;
    color: #fff;
    transition: 0.5s;
}

.form__button:hover {
    background-color: #ddaa27;
}

.form__button:active {
    background-color: #e4b955;
}