html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  max-width: 1000px;
  margin: auto;
  font-family: 'Raleway', sans-serif;
  color: #000;
  background-color: rgb(66, 109, 109);
  background-image: url(../public/money.jpg);
  background-size: cover;
}
